/*
Colors Used:
Primary Color: Black #000000
Secondary Color: Raspberry #E22658
Accent: Dark Gray #9999A1
Accent: Light Gray #E3E3E3
Accent: Dark Raspberry #AC173E
*/

*{
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img{
  width: 100%;
}

a {
  color: #E22658;
  text-decoration: none; /* No underlining */
}

a:hover
a:focus{
  color: #AC173E;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #E22658;
}

a:active { /* selected link */
  color: #AC173E;
}

nav{
  display: inline-block;
  width: 100%;
}


.viewprojectbutton { /* view project button on Index.html */
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E22658;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  transition: 0.2s opacity;

}

.viewprojectbutton:hover {
  background-color: #AC173E;
  text-decoration: none;
}

.viewprojectbutton:visited {
  color:#FFFFFF;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

a.downloadresumebutton{
  background-color: transparent;
  color: #E22658;
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid #E22658;
  text-align: center;
}

.buttoncontact {
  background-color: transparent;
  color: #E22658;
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid #E22658;
  margin: auto;
}

.downloadresumebutton:hover{
  background-color: #E22658;
  color: #ffffff;
}

.buttoncontact:hover {
  background-color: #E22658;
  color: #ffffff;
}

header {
  text-align: center;
  position: relative;
  padding: 10px 0;
  background-color: #FFFFFF;
  box-shadow:-1px 5px 11px 0px rgba(50, 50, 50, 0.55);
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #E22658
}


nav > ul > li > a:hover {
color: #AC173E;
}



/* layout styling */

.container {
  padding: 0 15px;
}

.row{
  margin:25px 0; /* 25 px top and bottom, 0 left and right */
}

#herosection p, h1 {
  text-align: center;/* centers text */
}

#contact p, h2{
  text-align: center;
}

#contact h2{
  padding-top: 20px;
}


.logo{
  max-width: 250px;
}

#herosection{
  background-color: rgba(226, 38, 88, 0.8);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.socialmedia {
  list-style-type: none;
  padding: 0;
}

.socialmedia > li {
  display: inline-block;
  align-items: center;
}

.socialmedia > li > a {
  padding: 0 10px;
}

footer{
  text-align: center;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {


  header{
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav{
    width: auto;
    float: right;
    margin-top:4px;
  }
}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
